<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant) do %>
      <p><%=restaurant.name%></p>
    <%end%>
  <p><%= restaurant.category %></p>
  <p><%= restaurant.phone_number %></p>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.reviews %></p>
  <hr>
<% end %>

